name: Create Release
on:
  push:
    tags:
      - "v*" # triggers on v0.0.1, v1.0.0, etc.

permissions:
  contents: write
    
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2 
        with: 
          node-version: lts/*
      - run: npm install
      - run: mkdir -vp ./bin || true
      - run: npx @vscode/vsce package -o bin/twilite.vsix
      - run: npx @vscode/vsce publish -i bin/twilite.vsix
        continue-on-error: true
        env:
          VSCE_PAT: ${{ secrets.VSCE_TOKEN }}
      - uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/twilite.vsix
          asset_name: twilite.vsix
          asset_content_type: application/octet-stream