name: Publish Twilite

on:
  push:
    tags:
      - "v*" # triggers on v0.0.1, v1.0.0, etc.

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write # needed for release creation

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Package Theme
        run: npx vsce package --no-dependencies --out ./bin

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Twilite ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: bin/*.vsix
          generate_release_notes: true